@import "bootstrap";



html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
    /*   font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;  */
     font-family: 'Cormorant Garamond', Georgia, serif;
      font-weight: 500;
      font-size: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/1.2);
      width: 90%;
      margin: 0 auto; // to center your div.
      max-width: 90%;
      border-collapse:separate;
      position: relative;
      margin-right:auto;
      margin-left:auto;
      line-height: 1.2;
      box-sizing: border-box;
   	  padding: 2em 2em 2em 2em;
    }

    @media screen and (max-width: 670px) {
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
  float: right;
  display: block;
    }
}

    a {
      color: #000000;
      text-decoration: underline;
    }

    a:focus,
    a:hover {
      color: #BEBEBE;
      text-decoration: underline;
    }

    a.heading1 {
      color: #000000;
      text-decoration: none;
    }

    a.heading1:focus,
    a.heading1:hover {
      color: #BEBEBE;
      text-decoration: none;
      border-bottom: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/10) solid;
    }

    a.icon1 {
      color: #000000;
      text-decoration: none;
    }

    a.icon1:focus,
    a.icon1:hover {
      color: #BEBEBE;
      text-decoration: none;
    }

    a.paper1 {
      color: #000000;
      text-decoration: none;
    }

    a.paper1:focus,
    a.paper1:hover {
      color: #BEBEBE;
      text-decoration: none;
    }


.split {
       display: flex;
       justify-content: space-between;
    }

.gara {
  font-family: 'Cormorant Garamond', Georgia, serif;
}
navbar1 {
      overflow: hidden;
      position: fixed;
      top: 0;
      background-color: #FFFFFF;
      width: 85%;
      padding: 0.5em 0em 0em 0em;
      border-bottom: 1px solid black;
      background-color: rgba(255,255,255,0.9);
    }



a1 {

}

name {
        font-size: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/0.5);
            }

            paperextra {
                          font-size: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/1.35);
                        }

            heading {
                                  font-size: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/0.9375);
                        }
            miniheading {
                      font-size: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/1.2);
                    }

                    .anchor { padding-top: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/0.24); }

@media only screen and (min-width: 600px) {
  body {
                    right: 2%;

                  }
}
@media only screen and (max-width: 700px) {
  body {
    width: 100%;
    max-width: 100%;
}
}
@media only screen and (max-width: 400px) {
    body {
                      font-size: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/1.44);
                      width: 100%;
                      max-width: 100%;
                          }
    name {
                      font-size: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/0.6);
                          }
    paperextra {
                      font-size: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/1.62);
                                      }

    heading {
                     font-size: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/1.125);
                                      }
    miniheading {
                     font-size: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/1.44);
                                  }

    .anchor { padding-top: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/0.288); }

                        }
/*
@media only screen and (max-width: 380px) {
    name {
                      font-size: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/0.72);
                                      }
    body {
                      font-size: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/1.728);
                      width: 100%;
                      max-width: 100%;
                                      }
    paperextra {
                      font-size: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/1.944);
                                      }

    heading {
                      font-size: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/1.35);
                                                  }
    miniheading {
                        font-size: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/1.728);
                                              }
    .anchor { padding-top: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/0.3456); }
                          }

@media only screen and (max-width: 300px) {
    name {
                      font-size: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/0.864);
                                                                }
    body {
                      font-size: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/2.0736);
                      width: 100%;
                      max-width: 100%;
                                                                }
    paperextra {
                      font-size: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/2.3328);
                                                                            }

    heading {
                      font-size: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/1.62);
                                                                            }
    miniheading {
                      font-size: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/2.0736);
                                                                        }
    .anchor { padding-top: calc((14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))/0.41472); }

                                                    }

*/
.collapsible {
            /*  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
*/
              padding: 0em;
              border: none;
              outline: none;
              cursor: pointer;
                  }

.active, .collapsible:hover {}

        .collapsible:after {
              /*font-family: "Font Awesome 5 Free";*/
              content: "+";
              margin-left: 1px;
              /*font-weight: 600;*/
            }

.active:after {
              /*font-family: "Font Awesome 5 Free";*/
              content: "-";
         		  margin-left: 3px;
              /*font-weight: 600;*/
        	  }


.content {
/*  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
*/
        		  /*font-weight: 500;*/
              text-align: justify;
          		line-height: 25px;
          		background: #DDDDDD;
         		  max-height: 0;
          		overflow: hidden;
              margin-top: 0.5em;
          		border-radius: 15px;
          		padding: 0em 18px;
          		transition: max-height 0.2s ease-in-out;
          	}


li {
                  padding-bottom: 0.2em;
              }
